body{
    background-color: rgb(89, 0, 255);
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif; 
    font-size: 18px;
    width: 100%;
    color: black;
    height: 100%; 
    text-align: center;
  }
  
  
  * {
    box-sizing: border-box;
  }
  
  
  body {
    background-color: rgb(89, 0, 255);
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif; 
    font-size: 18px;
    width: 100%;
    color: black;
  }
  
  
  h1 {
    color: rgb(222, 240, 247);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  
  
  #header{
    float: top;
    margin-top: 20px;
  }
  
  #guessletter{
    float: top;
    margin-top: 60px;
  }
  
  #wins{
        float: top;
      margin-top: 15px;
  }
  
  #losses{
    float: top;
    margin-top: 15px;
  }
  
  #guessleft{
    float: top;
    margin-top: 15px;
  }
  
  #yourguesses{
    float: top;
    margin-top: 15px;
  }
  
  #getchoice{
    float: top;
    margin-top: 15px;
  }
  #wins row well{
    text-align: center;
  }